<div class="modal-header">
  <h4 class="modal-title pull-left">so i herd u liek blockchainz</h4>
  <button type="button" class="close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <img src="./assets/img/mudkipkitty.png" alt="mudkipz and cryptokitties" style="margin: 0px;auto;">
</div>
<div class="modal-footer">
  <button type="button" id="myButton" class="btn btn-default" (click)="bsModalRef.hide()">yup!</button>
</div>
