<div class="container">
  <h2>Resources</h2>
  <ul>
    <li>
      <a href="https://www.reddit.com/r/CryptoKitties/">r/cryptokitties</a>
    </li>
    <li>
      <a href="https://www.learncryptokitties.com/">Learn CryptoKitties</a>
    </li>
    <li>
      <a href="https://hackernoon.com/hacking-the-cryptokitties-genome-1cb3e7dddab3">Hacking the cryptokitties genome</a>
    </li>
    <li>
      <a href="https://bytesforbites.github.io/cryptokitty-designer/#/">Cryptokitty Designer</a>
    </li>
    <li>
      <a href="http://cryptokittyworld.com/">Cryptokitty World</a>
    </li>
    <li>
      <a href="https://www.livecoinwatch.com/cryptokitties">Live Coin Watch</a>
    </li>
  </ul>
</div>
