<h2 id="step1"><span>Step 1</span>Download Brave</h2>
<p>Brave is a free and open source web browser from Mozilla Project co-founder and JavaScript creator Brendan Eich.</p>
<p>While you're at it, bookmark these sites:</p>
<ul>
  <li><a href="https://www.coinbase.com/">https://www.coinbase.com/</a></li>
  <li><a href="https://ethgasstation.info/">https://ethgasstation.info/</a></li>
</ul>
<h2 id="step1"><span>Step 2</span>Go to cryptokitties.co</h2>
<p>Beware! There are fake sites trying to steal your ether! Make sure it's
  <a href="https://www.cryptokitties.co">https://www.cryptokitties.co</a></p>

<a href="#myfaketarget"><h2><span>Step 3</span>Install MetaMask from the prompt</h2></a>
<p>Copy your wallet seed and save it in a safe location! Putting it on a backup usb drive might not be a bad idea</p>

<h2><span>Step 4</span>Create a Cryptokitty Account!</h2>
<p>Be sure to check your MetaMask app to sign any transactions or messages!</p>

<h2><span>Step 5</span>Buy sum Ether from Coinbase</h2>
<p>You'll be charged a small network fee for your purchase! If you plan on buying more crypotocurrencies,
  you may want to create an account on Coinbase!</p>

<h2><span>Step 6</span>Decide on your first kitty to buy!</h2>
<p>They're all totes adorbs, but if you're interested in more valuable kitties and breeding for rare traits,
  check out these guides!</p>
  <ul>
    <li><a href="http://cryptokittyworld.com/tip-profitable-starting-game-yesterday/">How I was profitable starting this game yesterday</a></li>
  </ul>

<h2><span>Step 7</span>Check gas prices before making your transaction!</h2>
<h3><a href="https://ethgasstation.info/">Eth Gas Station</a></h3>
<p>Gas prices can vary - within a few days of Cryptokitties launching gas got as high as 60 gwei -
  often more than the cost of a cryptokitty! You'll save money by waiting for gas prices to be low
  before making your transaction. (2-3 is about as good as it gets!)</p>
<h3>WTF is this gas nonsense?</h3>
<p> 'Gas' is a shorthand used to describe the cost of powering a transaction or contract in
  Ethereum, which is the blockchain network that CryptoKitties is built on.</p>

<p>Because blockchain is decentralized, every transaction is distributed through multiple computers, not a central server.
This ensures each token – in this case, each CryptoKitty – is secure and one-of-a-kind. However, it also takes more
computational power, which is covered by the cost of gas. Ethereum typically communicates this cost in gwei
(1 billion gwei = 1 ether/ETH).</p>

<h2><span>Step 8</span>Buy your kitty!</h2>
<p>Click the buy button and use MetaMask to complete the transaction. In order to get your transactions to go through,
  you must use appropriate gas amounts and limits. Current needed gas amount can be found at the <a href="https://ethgasstation.info/">Eth Gas Station</a>
 and 150k – 250k is usually a good gas limit.</p>
