<div class="top-nav">
  <div class="container">
    <nav class="navbar navbar-expand-lg navbar-light justify-content-between">
      <a class="navbar-brand" routerLink="/"><img src="./assets/img/{{navKitty}}" alt="Nav Kitty"><span>All About Cryptokitties</span></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item" *ngFor="let item of navItems" >
            <a class="nav-link" routerLink="{{item.path}}" [routerLinkActive]="['is-active']">{{item.title}}</a>
          </li>
        </ul>
      </div>
    </nav>
  </div>
</div>

<div class="content">
  <router-outlet></router-outlet>
</div>
