<div class="container" id="home">
  <div class="row">
    <h1>So u wanna learn bout teh kittehs?</h1>
    <p>CryptoKitties is the one of the first blockchain games built on the ethereum network.</p>
  </div>
  <div class="row">
    <div class="col-4">
      <img src="../assets/img/mainkitty.svg" >
    </div>
    <div class="col">
      <form action="">
        <p>Get all your cryptokitty updates here!</p>
        <div class="input-group">
          <input type="text" class="form-control" placeholder="email" >
          <span class="input-group-btn">
            <button class="btn primary" >Go!</button>
          </span>
        </div>
      </form>
    </div>
  </div>
</div>
